// TYPE
// ========================================================
$sans_serif: "Helvetica Neue", sans-serif;
$text_default: #CBCBCB;

$font_size_body: 20px;
$font_size_heading: 32px;
$font_size_subheading: 20px;

// Background and Border colors
// ========================================================
$bg_default: #141517;

// Dimensions
// ========================================================
$w_wrap: 990px;
$gutter: 45px;

// Breakpoints
// ========================================================
$bp_font_size_body_downsized: 620px;

// Z-Index
// ========================================================